<h3 class="text-primary">
    <b>Нормативные правовые акты
        <small class="text-primary"><%=@category.name%></small>
    </b>
</h3>

<%=render 'searchPanel'%>
<% if admin_signed_in?%>
  <%=link_to 'Новый документ', new_document_path(category_id: @category.id), class: "btn btn-default"%>
<%end%>
<%=link_to 'Все категории', categories_path, class: "btn btn-default"%>
<div class="tableDoc">
    <%=render 'table'%>
</div>
<% if admin_signed_in?%>
  <%=link_to 'Загрузить документы', import_documents_documents_path(category_id: @category.id), id: "loadDoc"%><br>
  <%=link_to 'Связать с категорией', load_reference_documents_path(category_id: @category.id), id: "linkdDoc"%><br>
<%end%>
