<h3 class="text-primary">
    <b>Нормативные правовые акты
        <small class="text-primary"><%=@category.name%></small>
    </b>
</h3>

<%=render 'searchPanel'%>
<%=link_to 'Новый документ', new_document_path(category_id: @category.id), class: "btn btn-default"%>
<%=link_to 'Другая категория', categories_path, class: "btn btn-default"%>
<%=link_to 'Загрузить документы', import_documents_documents_path(category_id: @category.id), id: "loadDoc"%><br>
<%=link_to 'Связать с категорией', load_reference_documents_path(category_id: @category.id), id: "linkdDoc"%><br>

<div class="tableDoc">

    <%=render 'table'%>
</div>
