<h2 class="text-primary">
    <%=image_tag "logo2.jpg" %>
    <b>Нормативные правовые акты Тверской области</b>
</h2>

<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>Категория</th>
            <th colspan="2"></th>
        </tr>
    </thead>

    <tbody>
        <% @categories.each do |category| %>
        <tr>
            <td><%= link_to category.name, category_documents_path(category_id: category.id) %></td>
            <td><%= link_to 'Редактировать', edit_category_path(category) %></td>
            <td><%= link_to 'Удалить', category, method: :delete, data: { confirm: 'Вы уверены?' } %></td>
        </tr>
        <% end %>
    </tbody>
</table>
<div>
    <%= link_to "Виды документов", document_types_path, method: :get, class:"btn btn-default"%>
    <%= link_to "Добавить категорию", new_category_path, method: :get, class:"btn btn-default categoryLink", remote:true%>
</div>

<div id="category">
    <div class="panel panel-default">
        <div class="panel-body">
            <%=render 'newcategory'%>
        </div>
    </div>
</div>
